{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "plugins": ["react"],
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["*.config.js"]}]
  },
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint", "react"],
      "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    }
  ]
}
