/** @define title */

@use "src/vars" as *;
@use "src/mixins" as *;

$line-height: 1.25;
$settings: (
    h1: (
        font-size: 2.5rem,
        text-align: center,
    ),
    h2: (
        font-size: 1.5rem,
    ),
    h3: (
        font-size: 1.167rem,
    ),
    h4: (
        font-size: 1rem,
    ),
    h5: (
        font-size: .833rem,
    ),
    h6: (
        font-size: .667rem,
    ),
);

.title {
    display: block;
    font-family: $font-primary;
    font-weight: bold;
    line-height: $line-height;

    @each $tag, $props in $settings {
        &--#{$tag} {
            @each $prop, $value in $props {
                #{$prop}: #{$value};
            }
        }
    }
}
