/** @define markdown */

@use "src/vars" as *;
@use "src/mixins" as *;
@use "../Title/Title" as title;
@use "../Blockquote/Blockquote" as blockquote;
@use "../Accordion/Accordion" as accordion;

.markdown {
    display: block;

    /* stylelint-disable plugin/selector-bem-pattern */
    @each $level in [1, 2 ,3, 4, 5, 6] {
        h#{$level} {
            @extend .title;
            @extend .title--h#{$level};
        }
    }

    h2 {
        margin-top: 4em;

        + p {
            margin-top: -1em;
        }
    }

    blockquote {
        @extend .blockquote;

        > p {
            @extend .blockquote__text;
        }
    }

    details {
        @extend .accordion;
        margin-bottom: 4em;

        > summary {
            @extend .accordion__label;
        }
    }

    .-is-hidden {
        display: none;
    }
    /* stylelint-enable plugin/selector-bem-pattern */
}
