/** @define header */

@use "src/vars" as *;
@use "src/mixins" as *;

.header {
    position: sticky;
    top: 0;
    display: block;
    padding: $gutter * 2;
    @include transition-colors($color-bg-odd, $color-text);
    text-align: center;

    &__logo {
        height: 2em;
        margin: -1em 1em -1em 0;
        vertical-align: middle;
    }
}
