/** @define header */

@use "sass:color";
@use "../vars" as *;
@use "../index";

.header {
    display: block;
    padding: $gutter * 2;
    background: color.adjust($color-bg, $lightness: -5%);
    color: $color-text;
    text-align: center;

    &__link {
        text-decoration: none;
        color: inherit;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}
