/** @define blockquote */

@use "src/vars" as *;
@use "src/mixins" as *;

.blockquote {
    position: relative;
    display: block;
    margin: 2em 0;
    padding: .5em 1.5em;
    border: 1px dashed $color-primary;
    border-left: 6px solid $color-primary;
    background: transparent;
    color: inherit;
    font: normal 1rem/#{$line-height} $font-primary;
    font-style: italic;

    &::before {
        content: '"';
        position: absolute;
        top: .125em;
        left: .125em;
        font-size: 2.5em;
        line-height: 1;
        color: $color-primary;
    }

    &__text {
        margin: 1em 0;
    }
}
