.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.app__logo {
    display: block;
    width: 50%;
    max-width: 250px;
}
