body {
    display: block;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #222;
    color: #fff;
    font: normal 1em/1.5 Arial, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
