@use "../node_modules/normalize.css/normalize.css";
@use "./vars" as *;

body {
    display: block;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $color-bg;
    color: $color-text;
    font: normal 1em/1.5 Arial, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
